<div id="searchForm" class="ui form segment">
    <div class="two fields">
        <div class="field">
            <input type="hidden" id="dep_group" name="dep_group">
            <div id="group_selection" class="ui fluid selection dropdown">
                <div class="text">分组</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">所有分组</div>
                    <div class="item">访问安全组</div>
                    <div class="item">公共应用组</div>
                    <div class="item">文件服务组</div>
                    <div class="item">流程管理组</div>
                </div>
            </div>
        </div>
        <div class="field">
            <input type="hidden" id="website" name="website">
            <div id="website_selection" class="ui fluid selection dropdown">
                <div class="text">网站来源</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">所有</div>
                    <div class="item">csdn</div>
                    <div class="item">iteye</div>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <input id="start_date" name="start_date" placeholder="开始时间" type="text">
        </div>
        <div class="field">
            <input id="end_date" name="end_date" placeholder="结束时间" type="text">
        </div>
    </div>
    <div id="searchBtn" class="ui blue submit button" ng-click="search()">查询</div>
    <div class="ui error message"></div>
</div>

<div class="ui divider"></div>

<div class="ui dimmer">
    <div class="ui large text loader">查询中...</div>
</div>

<table class="ui table segment">
    <thead>
    <tr>
        <th>标题</th>
        <th>网站</th>
        <th>作者</th>
        <th>分组</th>
        <th>访问量</th>
        <th>评论数</th>
        <th>发布时间</th>
    </tr>
    </thead>
    <tbody id="result">
        <tr ng-repeat="blog in blogs">
            <td><a href="{{blog.link}}" target="_blank">{{blog.title}}</a></td>
            <td>{{blog.website}}</td>
            <td>{{blog.author.name}}</td>
            <td>{{blog.author.groupName}}</td>
            <td>{{blog.view}}</td>
            <td>{{blog.comment}}</td>
            <td>{{blog.time}}</td>
        </tr>
    </tbody>
</table>