<div class="ui piled feed segment">
    <h2 class="ui header">当月排行榜</h2>
    <div class="event" ng-repeat="top in tops">
        <div class="label">
            <img src="./resources/images/tops/{{$index + 1}}.png">
        </div>
        <div class="content">
            <div class="date">
                文章数量: {{top.count}}, 阅读次数: {{top.view}}
            </div>
            <div class="summary">
                <h3>{{top.groupName}}</h3>
            </div>
            <div class="extra text">
                <div class="ui basic button" ng-click="show_blogs(top)">
                    博客列表<i class="dropdown icon"></i>
                </div>
                <div class="ui divided list" ng-show="top.show">
                    <div class="item" ng-repeat="blog in top.blogs">
                        <div class="content">
                            <a class="header" href="{{blog.link}}" target="_blank">{{blog.title}}</a>
                            <div class="description">{{blog.website}}--阅读次数: {{blog.view}}, 评论数: {{blog.comment}}, 作者: {{blog.author.name}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>