<h2>当月排行榜</h2>
<br/>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>排名</th>
        <th>组名</th>
        <th>文章数量</th>
        <th>阅读次数</th>
        <th>文章列表</th>
    </tr>
    </thead>
    <tbody>
    #foreach($top in $tops)
    <tr>
        <td>$foreach.count</td>
        <td>$top.groupName</td>
        <td>$top.count</td>
        <td>$top.view</td>
        <td>
            <ul>
            #foreach($blog in $top.blogs)
                <li><a href="$blog.link">$blog.title</a>, 阅读次数$blog.view, 评论数$blog.comment, 作者-$blog.author.name</li>
            #end
            </ul>
        </td>
    </tr>
    #end
    </tbody>
</table>

<h4>更多信息请访问网站--<a href="http://depblog.sinaapp.com/" target="_blank">部门博客</a>(请用Chrome浏览器访问)</h4>